.block-images{
    .hide-on-mobile{
        display: none;
    }
    .text-block{
        padding:1.5em;
        float:none;
    }
    h2{text-align:center;}
    .see-more{text-align:right;display: block;}
    > div{
        width:100%;
        height:auto;
    }
}

.infos{
    padding:1.5em;
}