{% extends 'layout.html' %}

{% block title %}Imperium LARP{% endblock %}

{% block head %}
	{% parent %}
{% endblock %}

{% block content %}
<section class="topo particles florest-bg" id="particleJS">
	<div class="logo">
		<img src="img/imperium-logo-branco.svg" width="100%">
	</div>
</section>
<section class="history">
	<div class="block-images image-right summary">
		<div class="hide-on-mobile">
			<div class="image-block nobilia-bg">
			</div>
		</div>
		<div class="text-block">
			<h1>Nobília</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquam iaculis erat ut mattis. Ut id nisi nibh. Nullam vitae massa porttitor, molestie nibh a, accumsan sem. Nullam scelerisque non arcu aliquet placerat. Proin eu mi nisi. In dapibus eleifend metus in dictum. Nam tortor arcu, placerat rutrum dictum in, venenatis a tortor. Sed consequat vehicula accumsan. Duis scelerisque non lacus sed posuere. </p>
			<a href="#" class="button see-more modal-links">Saiba mais</a>
		</div>
	</div>
	<div class="block-images image-left summary">
		<div class="hide-on-mobile">
			<div class="image-block ponta-de-lanca-bg">
			</div>
		</div>
		<div class="text-block">
			<h2>Ponta de lança</h2>
			<p>"Nada mais do que um casebre, mal terminado... E mal coberto. Em alguns pontos, nem da chuva protegia, e o vento que vinha, trazia os sussurros de todos que deixei para trás. Pelas frestas das madeiras, chamas dançavam com suas luzes, flertando com as sombras da noite. A lareira, crepitante, me incendiava uma lembrança, distante. Há algo, que vim buscar; algo, que há muito,  deixei em outro lugar.” - Um desconhecido em uma taberna em Ronirian</p>
			<a href="#" class="button see-more modal-links" data-text="ponta-de-lanca.json">Saiba mais</a>
		</div>
	</div>
	<div class="block-images image-right summary">
		<div class="hide-on-mobile">
			<div class="image-block tormanos-bg">
			</div>
		</div>
		<div class="text-block">
			<h2>Tormanos</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquam iaculis erat ut mattis. Ut id nisi nibh. Nullam vitae massa porttitor, molestie nibh a, accumsan sem. Nullam scelerisque non arcu aliquet placerat. Proin eu mi nisi. In dapibus eleifend metus in dictum. Nam tortor arcu, placerat rutrum dictum in, venenatis a tortor. Sed consequat vehicula accumsan. Duis scelerisque non lacus sed posuere. </p>
			<a href="#" class="button see-more modal-links">Saiba mais</a>
		</div>
	</div>
	<div class="block-images image-left summary">
		<div class="hide-on-mobile">
			<div class="image-block imperiais-bg">
			</div>
		</div>
		<div class="text-block">
			<h2>Imperiais</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquam iaculis erat ut mattis. Ut id nisi nibh. Nullam vitae massa porttitor, molestie nibh a, accumsan sem. Nullam scelerisque non arcu aliquet placerat. Proin eu mi nisi. In dapibus eleifend metus in dictum. Nam tortor arcu, placerat rutrum dictum in, venenatis a tortor. Sed consequat vehicula accumsan. Duis scelerisque non lacus sed posuere. </p>
			<a href="#" class="button see-more modal-links">Saiba mais</a>
		</div>
	</div>
</section>
<section class="about">
	<div class="infos half-colum">
		<h2>Sobre o LARP</h2>
		<p>Basicamente, LARP é um jogo no qual você interpreta um personagem de fantasia clássica, criado por você mesmo, ou com a ajuda da organização. Mais abaixo existem opções e sugestões de criação de personagem.</p>
		<p>Para participar você precisará de um personagem com história e caracterização em acordância com o mesmo. Isso inclui não só as vestes, mas também armas seguras para o swordplay, poções, armaduras, itens relativos às habilidades, entre outros.</p>
		<p>A organização do evento disponibilizará diversas intrigas e enredos que seu personagem pode ou não seguir. Os jogadores podem criar suas próprias histórias, inclusive suas intrigas, e, honestamente, até encorajamos. Fazer um personagem de LARP significa liberdade e improvisação. </p>
		<p>Dois termos serão utilizados com frequência no evento: ON e OFF. O primeiro significa tudo durante a interpretação, e o segundo tudo que estiver fora. Por exemplo, quando você está interpretando seu personagem, você está em ON. Um organizador explicando as regras está em OFF. Se esforce para sempre jogar com o máximo possível de ON, ou seja, evite sair do personagem, fazer comentários sem conexão com o jogo ou tomar atitudes as quais não condizem que a história e personalidade do personagem.</p>
	</div>
	<div class="infos half-colum">
		<h2>Sobre o Sítio</h2>
		<p>Basicamente, LARP é um jogo no qual você interpreta um personagem de fantasia clássica, criado por você mesmo, ou com a ajuda da organização. Mais abaixo existem opções e sugestões de criação de personagem.</p>
		<p>Para participar você precisará de um personagem com história e caracterização em acordância com o mesmo. Isso inclui não só as vestes, mas também armas seguras para o swordplay, poções, armaduras, itens relativos às habilidades, entre outros.</p>
		<p>A organização do evento disponibilizará diversas intrigas e enredos que seu personagem pode ou não seguir. Os jogadores podem criar suas próprias histórias, inclusive suas intrigas, e, honestamente, até encorajamos. Fazer um personagem de LARP significa liberdade e improvisação. </p>
		<p>Dois termos serão utilizados com frequência no evento: ON e OFF. O primeiro significa tudo durante a interpretação, e o segundo tudo que estiver fora. Por exemplo, quando você está interpretando seu personagem, você está em ON. Um organizador explicando as regras está em OFF. Se esforce para sempre jogar com o máximo possível de ON, ou seja, evite sair do personagem, fazer comentários sem conexão com o jogo ou tomar atitudes as quais não condizem que a história e personalidade do personagem.</p>
	</div>
</section>
<section class="items">
	<div class="infos">
		<h2>Tomos</h2>
		<p>Saiba mais sobre o universo de Nobília</p>
	</div>
	<div class="filters">
		<a href="#" class="filter-links" data-filter="magic">Magic</a>
		<a href="#" class="filter-links" data-filter="fight">Fight</a>
	</div>
	<div class="tomes">
		<ul class="shuffle-tomes">
			<li data-groups='["magic"]'><h2><a data-text="magic" class="modal-links" href="">Magic</a></h2></li>
			<li data-groups='["fight"]'><h2><a data-text="fight" class="modal-links" href="">Fight</a></h2></li>
			<li data-groups='["magic"]'><h2><a data-text="magic" class="modal-links" href="">Magic</a></h2></li>
			<li data-groups='["fight"]'><h2><a data-text="fight" class="modal-links" href="">Fight</a></h2></li>
			<li data-groups='["magic"]'><h2><a data-text="magic" class="modal-links" href="">Magic</a></h2></li>
			<li data-groups='["fight"]'><h2><a data-text="fight" class="modal-links" href="">Fight</a></h2></li>
			<li data-groups='["magic"]'><h2><a data-text="magic" class="modal-links" href="">Magic</a></h2></li>
			<li data-groups='["fight"]'><h2><a data-text="fight" class="modal-links" href="">Fight</a></h2></li>
			<li data-groups='["magic"]'><h2><a data-text="magic" class="modal-links" href="">Magic</a></h2></li>
			<li data-groups='["fight"]'><h2><a data-text="fight" class="modal-links" href="">Fight</a></h2></li>
		</ul>
	</div>
</section>

<div class="modal overlay" id="infosModal">
	<div class="modal-container">
		<a href="" id="closeModal" class="close-modal">X<a>
		<div class="modal-header">
			<h2 id="modalTtle">teste</h2>
		</div>
		<div class="modal-body" id="modalBody">teste
		</div>
	</div>
</div>


{% endblock %}