{% extends 'layout.html' %}

{% block title %}Imperium LARP{% endblock %}

{% block head %}
	{% parent %}
{% endblock %}

{% block content %}
<section class="topo particles florest-bg" id="particleJS">
	<div class="logo">
	</div>
</section>
<section class="history">
	<div class="block-images image-right summary">
		<div class="image-block florest-bg">
		</div>
		<div class="text-block">
			<h1>Nobília</h1>
		</div>
	</div>
	<div class="block-images image-left summary">
		<div class="image-block florest-bg">
		</div>
		<div class="text-block">
			<h2>Ponta de lança</h2>
		</div>
	</div>
	<div class="block-images image-right summary">
		<div class="image-block florest-bg">
		</div>
		<div class="text-block">
			<h2>Tormanos</h2>
		</div>
	</div>
	<div class="block-images image-left summary">
		<div class="image-block florest-bg">
		</div>
		<div class="text-block">
			<h2>Imperiais</h2>
		</div>
	</div>
</section>
{% endblock %}