{% extends 'layout.html' %}

{% block title %}Imperium LARP{% endblock %}

{% block head %}
	{% parent %}
{% endblock %}

{% block content %}
<section class="topo particles florest-bg" id="particleJS">
	<div class="logo">
	</div>
</section>
<section class="history">
	<div class="block-images image-right summary">
		<div class="image-block florest-bg">
		</div>
		<div class="text-block">
			<h1>Nobília</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquam iaculis erat ut mattis. Ut id nisi nibh. Nullam vitae massa porttitor, molestie nibh a, accumsan sem. Nullam scelerisque non arcu aliquet placerat. Proin eu mi nisi. In dapibus eleifend metus in dictum. Nam tortor arcu, placerat rutrum dictum in, venenatis a tortor. Sed consequat vehicula accumsan. Duis scelerisque non lacus sed posuere. </p>
			<a href="#" class="button see-more">Saiba mais</a>
		</div>
	</div>
	<div class="block-images image-left summary">
		<div class="image-block florest-bg">
		</div>
		<div class="text-block">
			<h2>Ponta de lança</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquam iaculis erat ut mattis. Ut id nisi nibh. Nullam vitae massa porttitor, molestie nibh a, accumsan sem. Nullam scelerisque non arcu aliquet placerat. Proin eu mi nisi. In dapibus eleifend metus in dictum. Nam tortor arcu, placerat rutrum dictum in, venenatis a tortor. Sed consequat vehicula accumsan. Duis scelerisque non lacus sed posuere. </p>
			<a href="#" class="button see-more">Saiba mais</a>
		</div>
	</div>
	<div class="block-images image-right summary">
		<div class="image-block florest-bg">
		</div>
		<div class="text-block">
			<h2>Tormanos</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquam iaculis erat ut mattis. Ut id nisi nibh. Nullam vitae massa porttitor, molestie nibh a, accumsan sem. Nullam scelerisque non arcu aliquet placerat. Proin eu mi nisi. In dapibus eleifend metus in dictum. Nam tortor arcu, placerat rutrum dictum in, venenatis a tortor. Sed consequat vehicula accumsan. Duis scelerisque non lacus sed posuere. </p>
			<a href="#" class="button see-more">Saiba mais</a>
		</div>
	</div>
	<div class="block-images image-left summary">
		<div class="image-block florest-bg">
		</div>
		<div class="text-block">
			<h2>Imperiais</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquam iaculis erat ut mattis. Ut id nisi nibh. Nullam vitae massa porttitor, molestie nibh a, accumsan sem. Nullam scelerisque non arcu aliquet placerat. Proin eu mi nisi. In dapibus eleifend metus in dictum. Nam tortor arcu, placerat rutrum dictum in, venenatis a tortor. Sed consequat vehicula accumsan. Duis scelerisque non lacus sed posuere. </p>
			<a href="#" class="button see-more">Saiba mais</a>
		</div>
	</div>
</section>
<section class="galery">
	<div class="infos">
		<h2>Galeria</h2>
		<p>Últimas fotos</p>
	</div>
	<div class="fotos">
	</div>
</section>
<section class="items">
	<div class="infos">
		<h2>Tomos</h2>
		<p>Saiba mais sobre o universo de Nobília</p>
	</div>
	<div class="tomes">
		<ul>
			<li><h2>Tomo de ambientação</h2></li>
			<li><h2>Tomo</h2></li>
			<li><h2>Tomo</h2></li>
			<li><h2>Tomo</h2></li>
			<li><h2>Tomo</h2></li>
			<li><h2>Tomo</h2></li>
			<li><h2>Tomo</h2></li>
		</ul>
	</div>
</section>
{% endblock %}