<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<title>{% block title %}My Site{% endblock %}</title>
	<!-- <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css"> -->
	<link rel="stylesheet" href="vendor/normalize-css/normalize.css">
	<link rel="stylesheet" href="styles/css/custom.css">
	{% block head %}
	{% endblock %}
</head>
<body>
	{% block content %}{% endblock %}

	<script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
	<script src="vendor/particles.js/particles.min.js"></script>
	<script src="vendor/shufflejs/dist/shuffle.min.js"></script>
	<script src="vendor/axios/dist/axios.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script src="js/app.js"></script>
</body>
</html>