.block-images{
    width:100%;
    &.image-right{
        .image-block{float:right;}
        .text-block{float:left;}
    }
    &.image-left{
        .image-block{float:left;}
        .text-block{float:right;}
    }
    > div{
        width:50%;
        height:300px;
    }
    .image-block{}
    .text-block{
        padding:5em;
    }
}