.block-images{
    width:100%;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    &.image-right{
        .image-block{float:right;}
        .text-block{float:left;}
    }
    &.image-left{
        .image-block{float:left;}
        .text-block{float:right;}
    }
    > div{
        width:50%;
        height:400px;
    }
    .image-block{}
    .text-block{
        padding:3em;
    }
}