.particles{
    width: 1366px;
    height: 637px;
    position:relative;
}
.florest-bg{
    background-image:url("../../img/demo-2-bg.jpg");
    background-size: cover;
    background-position:50% 50%;
}

.logo{
    position: absolute;
    width:300px;
    height:150px;
    margin:auto;
    top:0;
    bottom:0;
    left:0;
    right:0;
    border:1px solid #000;
}