.tomes{
    font-family: "Patrick Hand SC", Helvetica, sans-serif;
    span,
    h2{
        font-family: "Patrick Hand SC", Helvetica, sans-serif;
    }
    h2{
        font-size:2.5em;
        a{color:#000;}
    }
    ul{
        width:100%;
        list-style: none;
        margin:0;
        padding:0;
        text-align:center;
    }
    li{
        position: relative;
        width: 33%;
        top: 25px;
        line-height: normal;
        background-image: url(../../img/Parchment-Body.png);
        background-size: 100%;
        display: inline-block;
        margin:20px 0;
        &:before{
            content: "";
            display: block;
            position: relative;
            top: -18px;
            width: 100%;
            height: 38px;
            background-image: url(../../img/Parchment-Top-Blend-trans.png);
            background-size: 100%;
            background-position: 0px 0px;
            background-repeat-y: no-repeat;
        }
        &:after{
            content: "";
            display: block;
            position: relative;
            bottom: -29px;
            right: -3px;
            height: 38px;
            background-image: url(../../img/Parchment-Bottom-Blend-trans.png);
            background-size: 100%;
            background-position: 0px 0px;
            background-repeat-y: no-repeat;
        }
    }
}

.modal{
    &.open{
        opacity:1;
        display:block;
        animation: opacity 300ms;
    }
    display: none;
    opacity: 0;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.3);
    .anime();
    .modal-body{
        max-width:90%;
        margin:auto;
        height:80%;
        position:absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
        background:#fff;
    }
}

@keyframes opacity {
    from {opacity: 0;}
    to {opacity: 1;}
}


// .tomes{
//     ul{
//         width:100%;
//         list-style: none;
//         margin:0;
//         padding:0;
//         text-align:center;
//     }
//     li{
//         position:relative;
//         float:left;
//         width:33.33%;
//         height:auto;
//         float:left;
//         padding: 2em;
//         background: url(../../img/Parchment-Body.png);
//         background-position: 0px 0;
//         background-size: cover;
//         background-repeat-x: no-repeat;
//         background-repeat-y: repeat;
//         &:before{
//             content: "";
//             display: block;
//             position: absolute;
//             top: -18px;
//             left: 0;
//             background: url(../../img/Parchment-Top-Blend-trans.png);
//             background-size: cover;
//             background-repeat: no-repeat;
//             width: 100%;
//             height: 24px;
//         }
//         &:after{
//         content: "";
//             display: block;
//             position: absolute;
//             bottom: -15px;
//             left: 5px;
//             background: url(../../img/Parchment-Bottom-Blend-trans.png);
//             background-size: cover;
//             background-repeat: no-repeat;
//             width: 100%;
//             height: 24px;
//         }
//     }
// }